header {
  width: 100%;
  height: 75px;
  background-color: #141414;
  border-bottom: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: fixed;
  z-index: 100;
}

header .logo img {
  width: 180px;
  cursor: pointer;
}

header .search {
  background-color: #1a1a1a;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 2px 2px black;
  display: flex;
  align-items: center;
}

header .search input {
  font-size: 20px;
  padding: 4px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: 'Poppins' , sans-serif;
  letter-spacing: .5px;
}

header .search label {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

header .navigators h1 {
  font-size: 20px;
  color: white;
  font-family: 'Poppins' , sans-serif;
  letter-spacing: 2px;
  cursor: context-menu;
}

header .navigators h1:hover {
  color: rgb(189, 189, 189);
}

header .navigators .login-button {
  cursor: pointer;
}

header .navigators .list {
  display: none;
  position: absolute;
  width: 150px;
  background-color: white;
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,.2);
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  margin-left: -10px;
}

header .navigators .list ul {
  list-style-type: none;
  width: 100%;
}

header .navigators .list ul li {
  font-size: 20px;
  margin: 7px 0px;
  cursor: pointer;
  font-family: 'Mulish' , sans-serif;
}

header .navigators .list ul li:hover {
  color: rgb(68, 68, 68);
}

header .navigators .list ul li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

header .navigators .list ul li:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

header .navigators .user-text:hover + .list {
  display: block;
  display: flex;
}

header .navigators .list:hover {
  display: block;
  display: flex;
}