.sign-screen-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 110;
}

.sign-screen-container .closePopUp {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.sign-screen {
  width: 650px;
  height: 700px;
  background-color: rgb(214, 214, 214);
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sign-screen .close {
  padding: 5px;
  font-size: 35px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.sign-screen .--logo {
  width: 350px;
  margin: 25px 0px;
  margin-bottom: 50px;
}

.sign-screen .pickers {
  padding: 5px 15px;
  background-color: #17141f;
  border-radius: 165px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.pickers input {
  display: none;
}

.pickers label {
  font-size: 25px;
  margin: 0px 10px;
  font-family: 'Poppins' , sans-serif;
  border-radius: 5415px;
  padding: 5px 7px;
  cursor: pointer;
  transition: all .2s ease;
  color: white;
}

.pickers input:checked + label {
  background-color: rgb(146, 146, 255);
}

.sign-screen .login {
  width: 80%;
  height: 400px;
  padding: 20px;
}

.login .row {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(199, 199, 199);
  border: 1px solid rgb(153, 153, 153);
  margin: 20px 0px;
}

.login .row label {
  font-size: 23px;
  margin-right: 10px;
}

.login .row input {
  font-size: 23px;
  width: 375px;
  height: 100%;
  font-family: 'Roboto' , sans-serif;
  border: none;
  background-color: transparent;
}

.login .button-row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.login .button-row button {
  font-size: 23px;
  font-family: 'Poppins' , sans-serif;
  background-color: rgb(136, 136, 255);
  padding: 5px 8px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: white;
}

.login .button-row button:hover {
  background-color: rgb(153, 153, 255);
}

.register {
  width: 80%;
  height: 400px;
  padding: 20px;
  display: none;
}

.register .row {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(199, 199, 199);
  border: 1px solid rgb(153, 153, 153);
  margin: 20px 0px;
}

.register .row label {
  font-size: 23px;
  margin-right: 10px;
}

.register .row input {
  font-size: 23px;
  width: 375px;
  height: 100%;
  font-family: 'Roboto' , sans-serif;
  border: none;
  background-color: transparent;
}

.register .password-row {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(199, 199, 199);
  border: 1px solid rgb(153, 153, 153);
  margin: 20px 0px;
  display: flex;
}

.register .password-row label {
  font-size: 23px;
  margin-right: 10px;
}

.register .password-row .--row i {
  margin-left: 7px;
}

.register .password-row .--row input {
  font-size: 23px;
  width: 150px;
  height: 100%;
  font-family: 'Roboto' , sans-serif;
  border: none;
  background-color: transparent;
}

.register .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register .button button {
  font-size: 23px;
  padding: 5px 8px;
  border-radius: 7px;
  color: white;
  border: none;
  background-color: rgb(136, 136, 255);
  font-family: 'Poppins' , sans-serif; 
  cursor: pointer;
}

.register .button button:hover {
  background-color: rgb(146, 146, 255);
}

.change-password-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 110;
}

.change-password {
  width: 650px;
  height: 700px;
  background-color: rgb(214, 214, 214);
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.change-password img {
  width: 350px;
  margin: 15px 0px;
}

.change-password .user {
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

.change-password .user img {
  width: 100px;
  border-radius: 100%;
}

.change-password .user h3 {
  font-size: 35px;
  font-family: 'Mulish' , sans-serif;
  letter-spacing: 1px;
}

.change-password .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.change-password .container h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Poppins' , sans-serif;
  letter-spacing: 1px;
}

.change-password .container .row {
  width: 60%;
  padding: 10px 15px;
  background-color: rgb(199, 199, 199);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 7px;
  margin: 5px 0px;
}

.oldPassword {
  margin-bottom: 20px !important;
}

.change-password .container .row label {
  margin-right: 10px;
  font-size: 23px;
}

.change-password .container .row input {
  height: 100%;
  font-size: 25px;
  background: none;
  border: none;
}

.change-password .container .button-row {
  width: 60%;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
}

.change-password .container .button-row button {
  font-size: 23px;
  font-family: 'Poppins' , sans-serif;
  background-color: rgb(136, 136, 255);
  padding: 5px 8px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: white;
}

.change-password .close {
  padding: 5px;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.error-container {
  padding: 10px  15px;
  background-color: rgb(20, 20, 20);
  position: fixed;
  top: 90px;
  right: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  z-index: 120;
}

.error-container p {
  font-size: 18px;
  font-family: 'Poppins' , sans-serif;
  color: white;
  margin: 0px 10px;
}

.error-container h1 {
  font-size: 40px;
  color: red;
}

.contact-us {
    width: 280px;
    height: 400px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 50;
    transition: all .3s ease;
}

.contact-show {
    height: 400px;
}

.contact-hide {
    height: 40px;
}

.contact-us .contact-header {
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    text-align: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid  rgb(71, 71, 71);
    cursor: pointer;
}

.contact-header h4 {
    font-size: 17px;
    font-family: 'Mulish' , sans-serif;
    cursor: pointer;
}

.contact-us .contact-body {
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    padding: 10px;
    position: relative;
}

.contact-body .row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.contact-body .row h6 {
    font-size: 13px;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: .5px;
    margin-bottom: 4px;

}

.contact-body .row input {
    width: 100%;
    padding: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(71, 71, 71);
    letter-spacing: .5px;
    font-family: 'Poppins' , sans-serif;
}

.contact-body .row textarea {
    width: 100%;
    height: 130px;
    padding: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(71, 71, 71);
    letter-spacing: .5px;
    font-family: 'Poppins' , sans-serif;
}

.contact-body .row button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 136, 255);
    color: white;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

.contact-body p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Mulish' , sans-serif;
}

.contact-body-show {
    display: block;
}

.contact-body-hide {
    display: none;
}